---
const { titulo, compañia, localizacion, fecha, descripcion, imagen } = Astro.props;
---

<span
  class="absolute flex items-center justify-center w-10 h-10 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
>
  <img
    class="rounded-full shadow-xl"
    src= {imagen}
    alt="Bonnie image"
  />
</span>
<div
  class="relative flex flex-col gap-y-2 border-gray-200 dark:border-gray-700 pl-8 py-4"
>
  
  
  <div class="">
    <h3 class="text-lg font-semibold text-yellow-200">{titulo}</h3>
    <a
      href="#"
      class="font-semibold text-blue-600 dark:text-blue-500 hover:underline"
      >{compañia}
    </a> 
    {
        localizacion && (
            <span>ubicado en</span>
            <span
                class="bg-gray-100 text-gray-800 text-xs font-normal me-2 px-2.5 py-0.5 rounded dark:bg-gray-600 dark:text-gray-300"
            >  {localizacion}</span>
        )
    } 

    {
        descripcion && (
            <div class="p-3 text-xs italic font-normal text-gray-500 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300 mt-2 text-pretty max-w-[38rem]">{descripcion}</div>
        )
    }

    <time class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0 "
      >{fecha}
    </time>
  </div>
</div>
